html
    head
        title= title
    body
        a(href='/show') << К списку
        h2= title
        form(name='editform', method='post')
            p Создатель: #{itemUser}
            p Название:
            input(type='text', name='title', value=itemTitle)
            br
            p Содержимое:
            input(type='text', name='text', value=itemText)
            br
            input(type='submit', value='Внести изменения')
        a(href='/remove?id='+ itemId) Удалить?